@charset "UTF-8";
/*=================================================

	name: shopzon

	developed by : wuchunxu

	NOTE: This is a demo , just for learning of html,css and javascript

===================================================*/
/*==================================================

	1. 样式重置
	2. 边框
	3. 文本颜色
	4. 文本对齐
	5. 输出框样式
	6. 


=========================================================*/
/*==============  1.  base style ==================*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

button {
  outline: none;
}

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}

ul li {
  list-style: none;
}

.theme-btn-1 {
  background: #8bc34a;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 12px 60px 12px 70px;
  transition: all .4s ease;
}
.theme-btn-1 i {
  padding-left: 10px;
}
.theme-btn-1 > i {
  transition: all .4s ease-in-out;
}
.theme-btn-1:hover {
  cursor: pointer;
  background: #444;
  color: #fff;
  text-decoration: none;
}
.theme-btn-1:hover > i {
  transform: translateX(-5px);
}

.theme-btn-2 {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #8bc34a;
  color: #fff;
  font-weight: 600;
  transition: all .4s ease;
  font-size: 16px;
}
.theme-btn-2:hover {
  text-decoration: none;
  color: #fff;
  background: #8bc34a;
}

.para {
  color: #444;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 20px;
}

.contact-main .media {
  margin-bottom: 30px;
}
.contact-main .media .media-left .glyphicon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #8bc34a;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
}
.contact-main .media .media-left .glyphicon:hover {
  background: #444;
}
.contact-main .message input {
  width: 48%;
  height: 50px;
  border: 1px solid #eee;
  padding: 0 10px;
  outline: none;
  margin-bottom: 20px;
  transition: all .4s ease;
}
.contact-main .message input + input {
  margin-left: 3%;
}
.contact-main .message input:focus {
  border: 1px solid #8bc34a;
}
.contact-main .message textarea {
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 17px;
}
.contact-main .message textarea:focus {
  border: 1px solid #8bc34a;
}
.contact-main .message .theme-btn-1 {
  width: auto;
  margin-left: -15px;
  padding: 12px 60px;
  border: none;
  outline: none;
}

.sign-in {
  padding: 50px 0 100px;
}
.sign-in h1 {
  text-align: center;
  margin-bottom: 25px;
}
.sign-in .form-horizontal .form-group input {
  height: 50px;
  outline: none;
}
.sign-in .form-horizontal .form-group input:focus {
  border: 1px solid #8bc34a;
}
.sign-in .form-horizontal .form-group a {
  padding-right: 10px;
}
.sign-in .form-horizontal .form-group label {
  height: 50px;
  line-height: 50px;
}
.sign-in .form-horizontal .form-group > div > * {
  float: left;
  margin: 0;
  height: 50px;
  line-height: 50px;
}
.sign-in .form-horizontal .form-group .feedback {
  height: 50px;
  line-height: 50px;
  color: red;
  display: none;
}
.sign-in .form-horizontal .form-group .feedback.success {
  color: #8bc34a;
}
.sign-in .form-horizontal .form-group .feedback.in {
  display: inline-block;
}
.sign-in .form-horizontal .theme-btn-1 {
  width: 200px !important;
  border: none;
  outline: none;
}

.feedback-info {
  text-align: center;
  color: #444;
  font-size: 24px;
}

.linkTo {
  text-align: center;
  font-size: 18px;
}
.linkTo a {
  color: #444;
  font-size: 18px;
  text-decoration: underline !important;
  transition: all .4s ease;
}
.linkTo a:hover {
  color: #8bc34a;
}

.logout {
  border: none;
  outline: none;
  padding: 3px 6px;
  background: #444;
  color: #fff;
  transition: all .4s ease;
}
.logout:hover {
  background: #8bc34a;
}

#lift {
  margin-top: 25px;
  display: none;
  position: fixed;
  z-index: 100;
  background-color: #918888;
  right: 10px;
  bottom: 100px;
}
#lift .lift-list {
  display: block;
  list-style: none;
}
#lift .lift-item {
  border-top: 1px solid #b1aaaa;
  transition: background-color .1s;
  transition: all .3s linear;
}
#lift .lift-btn {
  overflow: hidden;
  display: block;
  width: 24px;
  padding: 10px 5px;
  line-height: 14px;
  text-align: center;
  color: #fefefe;
  transition: color .1s;
}
#lift .lift-item:hover,
#lift .lift-item.hover {
  position: relative;
  border-bottom: 1px solid #d70b1c;
  margin-bottom: -1px;
  border-color: #d70b1c;
  background-color: #d70b1c;
}
#lift .lift-btn {
  overflow: hidden;
  display: block;
  width: 34px;
  padding: 10px 5px;
  line-height: 14px;
  text-align: center;
  color: #fefefe;
  transition: color .1s;
}

/*==============  1.  background  ==================*/

/*# sourceMappingURL=base.css.map */
