#header {
  padding: 90px 0 60px;
  background: url(../images/other/banner-bg.jpg) no-repeat center center/cover;
}
#header .banner h1 {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
#header .banner ul {
  padding: 50px 0 0;
  text-align: center;
}
#header .banner ul li {
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
#header .banner ul li a {
  color: #fff;
  margin-right: 5px;
}
#header .banner ul li a:hover {
  text-decoration: underline !important;
}
#header .banner ul li .glyphicon {
  font-size: 12px;
}

.nav-bar {
  background: #8bc34a;
  height: 80px;
  position: relative;
}
.nav-bar .menu {
  float: left;
  margin-bottom: 0;
}
.nav-bar .menu > li {
  float: left;
  position: relative;
}
.nav-bar .menu > li > a:first-child {
  color: #fff;
  display: block;
  padding: 0 28px;
  line-height: 80px;
  font-weight: 600;
}
.nav-bar .menu > li > a:first-child:hover {
  text-decoration: none;
  color: #000;
}
.nav-bar .menu > li > ul {
  background: #fff;
  width: 200px;
  border-top: 2px solid #8bc34a;
  position: absolute;
  padding: 15px;
  top: 100px;
  opacity: 0;
  z-index: -9999;
  display: block;
  transform: scaleY(0);
  transition: opacify,top .5s ease;
}
.nav-bar .menu > li > ul > li > a {
  color: #303030;
  display: block;
  font-size: 12px;
  padding: 10px;
  transition: all .3s ease;
}
.nav-bar .menu > li > ul > li > a:hover {
  color: #8bc34a;
  padding-left: 14px;
}
.nav-bar .menu > li > ul > li > a > .icon {
  font-size: 8px;
  padding: 0 5px 0 0;
}
.nav-bar .menu > li:hover > ul {
  top: 80px;
  opacity: 1;
  transform: scaleY(1);
  z-index: 5000;
}
.nav-bar .cart {
  float: right;
  margin-right: 20px;
  position: relative;
}
.nav-bar .cart > a {
  color: #fff;
  font-size: 18px;
  display: block;
  height: 80px;
  padding: 0 30px;
}
.nav-bar .cart > a > i {
  line-height: 80px;
}
.nav-bar .cart > a > .badge {
  background: #fff;
  color: #8bc34a;
  margin-top: -35px;
}
.nav-bar .cart > .cart-content {
  position: absolute;
  top: 80px;
  right: 20px;
  padding: 10px 15px;
  background: #fff;
  color: #000;
  border-top: 2px solid #8bc34a;
  width: 280px;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: all .5s ease;
}
.nav-bar .cart > .cart-content .media {
  border-bottom: 1px solid #eee;
  margin-top: 0;
}
.nav-bar .cart > .cart-content .media .media-body {
  padding: 10px 5px;
}
.nav-bar .cart > .cart-content .media .media-body p {
  color: #666;
}
.nav-bar .cart > .cart-content .media .media-heading {
  padding: 8px 0;
}
.nav-bar .cart > .cart-content .media .media-heading > a {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  transition: all .4s ease;
}
.nav-bar .cart > .cart-content .media .media-heading > a:hover {
  color: #8bc34a;
}
.nav-bar .cart > .cart-content .cart-remove {
  font-size: 14px;
  color: #ff0000;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
.nav-bar .cart > .cart-content .shopzon-btn {
  background: #8bc34a;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border: none;
  letter-spacing: 10px;
  transition: all .5s ease-in-out;
}
.nav-bar .cart > .cart-content .shopzon-btn:hover {
  background: #444;
}
.nav-bar .cart:hover > .cart-content {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  z-index: 5000;
}

.navbar {
  display: none;
}

/*Laptop >= 1170px*/
@media (min-width: 1170px) and (max-width: 1400px) {
  .nav-bar {
    width: 830px;
  }
}
@media (min-width: 1170px) and (max-width: 1400px) {
  .nav-bar {
    width: 100%;
  }
}
/*laptop 992~1169px*/
/* pad */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    text-align: center;
    padding: 25px 0;
  }

  .nav-bar {
    width: 100%;
  }
}
/* Phone */
@media screen and (max-width: 767px) {
  .navbar {
    display: block;
  }

  .log {
    text-align: center;
  }

  .nav-bar {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
