@charset "UTF-8";
$theme-color:#8bc34a;
/*=================================================

	name: shopzon

	developed by : wuchunxu

	NOTE: This is a demo , just for learning of html,css and javascript

===================================================*/

/*==================================================

	1. 样式重置
	2. 边框
	3. 文本颜色
	4. 文本对齐
	5. 输出框样式
	6. 


=========================================================*/

/*==============  1.  base style ==================*/

* {
	padding:0;
	margin:0;
	//box-sizing: border-box;
}

a {
  text-decoration:none!important;
}
button {
	outline:none;
}
.clear-fix:after {
	content:"";
	display:block;
	clear:both;
}
ul {
	li {
		list-style: none;
	}
}

.theme-btn-1 {
  background:$theme-color;
  color: #fff;
  display:inline-block;
  font-size: 16px;

  padding:12px 60px 12px 70px;
  transition: all .4s ease;
  i {
	padding-left:10px;
  }

  &>i {
	transition: all .4s ease-in-out;
  }
  &:hover {
	cursor: pointer;
	background: #444;
	color:#fff;
	text-decoration: none;
	&>i {
	  transform: translateX(-5px);
	}
  }
}



.theme-btn-2 {
  display:inline-block;
  padding:10px 20px;
  border:1px solid $theme-color;
  color:#fff;
  font-weight: 600;
  transition:all .4s ease;
  font-size: 16px;
  &:hover {

    text-decoration: none;
    color:#fff;
    background: $theme-color;
  }
}


/*==============  1.  background  ==================*/
$color-default: 	#f6f6f6;
$color-gray: 		#f1f1f1;
$color-lemon:		#8bc34a;
$color-dark-gray:	#e9ebee;


