@charset "UTF-8";
$theme-color:#8bc34a;
$theme-bgcolor:#e9ebee;

#header {
  padding:0;
  background:none;
}
#nav {
  padding-top:60px;
  position: absolute;
  top:0;
  width: 100%;
  z-index:5000;

}
body {
  //padding-bottom:100px;
}
#slider {
  &:hover .prev-btn,&:hover .next-btn{
    display: block;
  }
  .prev-btn,.next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border:4px solid #fff;
    border-radius:50%;
    top:45%;
    z-index:5001;
    text-align:center;
    color: #fff;
    font-size: 41px;
    line-height:50px;
    transition:all 0.3s ease;
    display:none;
    &:hover {
      background:$theme-color;
      border-color:$theme-color;
    }
  }
  .prev-btn {
    left:100px;
  }
  .next-btn {
   right:100px;
  }
  .carousel-caption {
    padding:40px 0;
    top:50%;
    z-index:5000;
  }

}
.month-new {
  background:#e9ebee;
  //height: 800px;
  .img {
    padding-bottom:40px;
    padding-top:15%;
  }
  .desc {
    width: 80%;
    margin-left:125px;
    padding: 40px;
    background: #fff;
    border-radius:8px;
    .tip-title {
      color: $theme-color;
      font-style: italic;
      font-size: 14px;
    }
    h2>a {
      color:#444;
      transition:all .5s ease;
      &:hover {
        color: $theme-color;
      }
    }
    .price {
      font-size: 20px;
    }
    p {
      line-height: 24px;
      color:#444444;
      font-weight: 400;
    }
    .timer {
      background: $theme-bgcolor;
      border-radius:5px;
      width: 100%;
      height: 70px;
      &>ul {
        li{
          width: 25%;
          //border: 1px solid #000;
          height: 70px;
          float:left;
          text-align:center;
          padding:10px 0;
          p {
            font-size: 20px;
            font-weight: 600;
            margin-bottom:6px;

          }
          span{
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .shop {
      padding: 40px 0 0;
      .theme-btn-1 {
        padding:10px 25px;
      }
      .show-detail {
        color: $theme-color;
        font-style: italic;
        transition: all .3s ease;
        float: right;
        display: block;
        padding:10px 0;
        &:hover {
          color:#444;
        }
      }
    }
  }
}
section{
  position:relative;
  padding:80px 0 100px;
  .floor-title {
    margin-bottom:70px;
    font-size: 30px;
    li{
      padding:0 30px;
    }
    a {
      color:#444;
      transition:all .4s ease;
      &:hover {
        color:$theme-color;
      }
    }
  }
  .floor-title{
    width: 100%;
    text-align:center;
    position:relative;
    &::before {
      width: 440px;
      background: $theme-color;
      position: absolute;
      bottom: -15px;
      left:50%;

      content:"";
      height:1px;
      display:block;
      //left:0;
      margin-left:-220px;

    }
    &::after {
      background: #fff url(../images/icon/section.png) 0 0 no-repeat;
      content:"";
      display:block;
      width: 24px;
      height: 20px;
      left:50%;
      margin-left:-12px;
      position: absolute;
      top:40px;
    }
  }
}
.tab {
  padding:0 0 100px;
  a[data-toggle=tab]{
    &.active{
      color:$theme-color;
    }
  }
  .tab-content{
    //background-color: #eee;
    position:relative;
    padding:0;
    .tab-item {
      width: 100%;
      height: 500px;
      //background: green;
      opacity: 0;
      transform:scale(0);
      transition:all .4s ease;
      &+.tab-item {
        position:absolute;
        left:0;
        top:0;
        //background:red;
      }
      &.active{
        opacity: 1;
        transform:scale(1);
      }
    }
  }
}
.month-new {
  .floor-title {
    &::before {
      background:#fff;
    }
    &::after{
      background-color:$theme-bgcolor;
    }
  }
}
.single-banner {
  padding: 50px 0 65px;

}
.single-product {
  .detail {
    .single-title {
      a {
        color:#444;
        transition:all .4s ease;
        &:hover{
          color:$theme-color;
        }
      }
    }
  }
  .stars {
    padding-left:5px;
    li{
      padding:0;
      i {
        color:$theme-color;
      }
    }
  }
  .price {
    font-size: 16px;
    color:#444;
    .old {
      text-decoration: line-through;
      margin-right:10px;
    }
    .new {
      font-weight: 600;
    }
  }
  margin-bottom:50px!important;
}
#main .item {
  position: relative;
  color: #fff;
  overflow: hidden;
  transition: all .4s ease;
  &>img {
    width: 100%;
    transition: all .4s ease;
  }
  &:hover {
    //background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    &>img {
      transform:scale(1.1);
    }
    .item-caption {
      opacity: 1;
    }
  }
  .item-caption {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 36%;
    transition: all .3s ease;
    .btns {
      li {
        i {
          color:#fff;
          font-size: 18px;
          border-radius:50%;
          padding:10px;
          transition:all .4s ease;
          &:hover {
            background: $theme-color;
          }
        }
      }
    }
  }
  .detail {
    color:#444;
  }
}
.top-sale-1{
  margin-bottom:80px;
}
#main .single-product-2 {

    //margin-top:20px;
    margin-bottom:20px;
  .item {

    .item-caption {
      background-clip:content-box;
      transform: scale(0);
      padding:15px;
      .single-title-big {
        padding-top:25px;
        a {
          color:#fff;
          font-size: 40px;
          transition:all .4s ease;
          &:hover {
            color:$theme-color;
          }
        }
      }
      .price-big {
        font-size: 40px;
        color:$theme-color;
      }
    }

    &:hover {
      &>img {
        transform: none;
      }
      .item-caption {
        transform:scale(1);
      }
    }
  }
}

/*手机*/
@media screen and (max-width: 767px){
  #nav {
    padding:0;
    position:static;
    .logo {
      display: none;
    }
  }
  .single-banner {

    .item {
      width: 70%;
      margin:0 auto 20px;
      img.img-responsive {
        width: 100%;
      }
      margin-bottom:50px;
      .item-caption {
        padding-top:32%;
        h2 {
          font-size: 18px;
        }
        .theme-btn-2 {
          padding:8px 20px;
          font-size: 14px;
        }
      }
    }
  }
  section{
    padding:30px 0 50px;
  }
  .month-new {
    .img {
      width: 80%;
      margin:0 auto;
      padding-top:0;
    }
    .desc {
      width: 90%;
      margin:0 auto;
    }
  }
  .item,.detail {
    margin:0 auto;
    width: 60%;
  }
}
/*平板*/
@media (min-width:768px) and (max-width: 991px){
  #nav {
    padding-top:0;
    margin-bottom:-210px;
  }
  #slider{
    .prev-btn,.next-btn {
      top:15%;
    }
  }
  .month-new {
    .img {
      padding-top:40%;
      width: 100%;
      margin:0 auto;

    }
    .desc {
      width: 100%;
      margin:0 auto;
    }
  }
  .single-banner {
    .item {

      .item-caption {
        padding-top:32%;
        h2 {
          font-size: 16px;
        }
        .theme-btn-2 {
          padding:5px 10px;
          font-size: 14px;
        }
      }
    }
  }
  #main .top-sale-1 {
    .item {
      width: 70%;
      margin:0 auto;
    }
    .detail {
      width: 70%;
      margin:0 auto;
    }
  }
  //.single-product-2>.item{
  //  width: 100% !important;
  //}
}
/*PC*/
@media (min-width: 992px) and (max-width:1199px){

  .month-new{
    .desc {
      width: 90%;
      margin:0 auto;
    }
  }
  .single-banner {
    .item {
      .item-caption {
        padding-top:32%;
        h2 {
          font-size: 18px;
        }
        .theme-btn-2 {
          padding:8px 14px;
          font-size: 16px;
        }
      }
    }
  }

}

/*大屏PC*/