@charset "UTF-8";
$theme-color:#8bc34a;
.preview {
	.nivoSlider{
		.nivo-directionNav {
			
			a {
				font-size: 0;
				background:transparent;
				border: 4px solid #fff;
				border-radius:50%;
				color: #fff;
				content:"";
				width:50px;
				height:50px;
				margin:0;
				position: absolute;
				text-align:center;
				top:45%;
				z-index:9;
				transition: all .3s ease-in;
				&:hover {
					background-color: $theme-color;
					border-color:$theme-color;
					cursor: pointer;
				}
				&::before {
					font: 100 42px/40px "Glyphicons Halflings";
				}
			}
			.nivo-prevNav {
				left:325px;
				&::before {
					content:"\e257";
				}
			}
			.nivo-nextNav {
				right:325px;
				&:before{
					content:"\e258";
				}
			}
		}
	}
	.desc {
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		color: #fff;
		font-size: 16px;
		z-index:999;
		height: 100%;
		text-align:center;
	}
}
.slider-content {
	
	
}